* {
  margin: 0;
  padding: 0;
}

p {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #172b4d;
}

::-moz-selection{
	background: #ddd;
	color: rgb(0,0,0);
	text-shadow: none;
}

::selection{
	background: #ddd;
	color: rgb(0,0,0);
	text-shadow: none;
}

/********************************************\
******************  HEADER  *****************
/********************************************\*/

header {
  display: block;
  width: 100%;
}

.desktop-header {
  overflow: hidden;
  height: 420px;
  background-size: cover;
  background-position: center
}

video {
  position: relative;
  width: 175%;
  height: 100%;
  transform: translate(-21%, -30%);
}

.video div {
  background-color: rgb(112,112,112);
}

.wrapper {
  margin: 0 auto;
  height: auto;
  max-width: 1150px;
}

.ness-logo {
  position: absolute;
  top: 0;
  transition: 1s;
  height: 10%;
  margin-top: 2%;
}

.slider {
  display: none;
}

.before-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 420px;
  transition: .5s ease;
  opacity: 0.5;
  background-color: rgb(120,120,120);
}

.dazn-logo {
    position: absolute;
    top: 0;
    transition: 1s;
    right: 20%;
    height: 10%;
    margin-top: 2%
}

@media only screen and (max-width: 1600px){
  .dazn-logo {
      right: 11%;
  }
}

@media only screen and (max-width: 1500px){
  .dazn-logo {
      right: 8%;
  }
}

@media only screen and (max-width: 1400px){
  .dazn-logo {
      right: 7%;
  }
}

@media only screen and (max-width: 1200px){
  .dazn-logo {
      right: 3%;
  }
}

/******---MOBILE FOR HEADER---******/

@media only screen and (max-width: 1150px) {
  .wrapper {
      width: 90%;
      height: auto;
      margin: 0 auto 0 auto;
  }

  .desktop-header {
      display: none;
  }

  .dazn-logo {
      right: 7%;
  }

  .slider {
      display: block;
      width: 150%;
      height: 420px;
      background: url(../img/1.jpg);
      background-repeat: no-repeat;
      animation: slide 40s infinite;
  }
  
  @keyframes slide {
      25%{
          background: url(../img/2.jpg);
      }
      50%{
          background: url(../img/3.jpg);
      }
      75%{
          background: url(../img/4.jpg);
      }
      100%{
          background: url(../img/5.jpg);
      }
  }
}

@media only screen and (max-width: 1000px){
  .dazn-logo {
      right: 9%;
  }
}

@media only screen and (max-width: 800px){
  .dazn-logo {
      right: 8%;
  }
}

@media only screen and (max-width: 600px){
  .dazn-logo {
      right: 6%;
  }
}

/********************************************\
*******************  MAIN  ******************
/********************************************\*/


/******---DESCRIPTION---******/


.about {
  width: 100%;
  height: auto;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "heading t-about";
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
}

.about h1 {
  grid-area: heading;
  place-self: center;
  color: #172b4d;
  font-family: sans-serif;
  font-size: 40px;
}

.about p {
  grid-area: t-about;
  display: block;
  text-align: justify;
}


/******---TEAMS---******/


.teams {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "team1 team2 team3 ."
    "team4 team5 team6 heading"
    "team7 team8 . .";
}

.teams img {
  width: 100%;
  height: 90%;
  cursor: pointer;
  display: block;
}

.team1 {
  grid-area: team1;
}

.team2 {
  grid-area: team2;
}

.team3 {
  grid-area: team3;
}

.team4 {
  grid-area: team4;
}

.team5 {
  grid-area: team5;
}

.team6 {
  grid-area: team6;
}

.team7 {
  grid-area: team7;
}

.team8 {
  grid-area: team8;
}

.heading-team {
  grid-area: heading;
  border-bottom: 1px solid rgb(180,180,180);
  margin-left: 10%;
}

.heading-team h1{
  color: rgb(30,144,255);
  font-size: 300%;
  font-family: sans-serif;
  text-align: center;
  margin-top: auto;
  margin-top: 20%;
}

.team1,
.team2,
.team3,
.team4,
.team5,
.team6,
.team7,
.team8 {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

.team1:nth-child(1) .overlay {
  background-color: rgb(255, 138, 0, 0.75);
}

.team2:nth-child(2) .overlay {
  background-color: rgb(59, 188, 220, 0.75);
}

.team3:nth-child(3) .overlay {
  background-color: rgb(36, 93, 171, 0.75);
}

.team4:nth-child(4) .overlay {
  background-color: rgb(138, 43, 226, 0.75);
}

.team5:nth-child(5) .overlay {
  background-color: rgb(126, 214, 120, 0.75);
}

.team6:nth-child(6) .overlay {
  background-color: rgb(133, 20, 75, 0.75);
}

.team7:nth-child(8) .overlay {
  background-color: rgb(255, 220, 0, 0.75);
}

.team8:nth-child(9) .overlay {
  background-color: rgb(119, 107, 119, 0.75);
}

.team1:hover .overlay,
.team2:hover .overlay,
.team3:hover .overlay,
.team4:hover .overlay,
.team5:hover .overlay,
.team6:hover .overlay,
.team7:hover .overlay,
.team8:hover .overlay {
  height: 20%;
  cursor: pointer;
}

.team1:hover .overlay .name-team,
.team2:hover .overlay .name-team,
.team3:hover .overlay .name-team,
.team4:hover .overlay .name-team,
.team5:hover .overlay .name-team,
.team6:hover .overlay .name-team,
.team7:hover .overlay .name-team,
.team8:hover .overlay .name-team {
  top: 50%;
}

.name-team {
  white-space: nowrap;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.name-team span {
  opacity: 1;
}

/******---DESC-TEAMS---******/


.desc-team {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "desc photo";
  margin-top: 50px;
  gap: 90px;

}

.desc-team img {
  width: 70%;
  height: 90%;
}

.team-text {
  grid-area: desc;
  text-align: justify;
  place-self: center;
}

.team-photo {
  grid-area: photo;
  
}

/******---CITATIONS---******/


.citations {
  border-top: 3px solid rgb(30,144,255);
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.employee {
  text-align: center;
  width: 200px;
}

.employee img,
.employee img,
.employee img {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 5px 10px 10px #888888;
}

.employee {
  text-align: center;
}

.employee p {
  font-family: sans-serif;
  font-size: 15px;
}

.employee-d {
  color: rgb(112,112,112);
}

.employee-n {
  color: rgb(30,144,255);
  font-weight: bold;
}


/******---MOBILE FOR MAIN---******/


@media only screen and (max-width: 1150px) {
  .desc-team {
    grid-template-areas:
    "desc desc"
    "photo photo";
  }

  .about p {
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .heading-team h1 {
    font-size: 200%;
  }

  .teams {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "heading heading heading"
      "team1 team2 team3"
      "team4 team5 team6"
      "team7 team8 .";
  }

  .heading-team {
    border-bottom: none;
  }
}

@media only screen and (max-width: 900px) {
  .about {
      grid-template-areas:
          "heading heading"
          "t-about t-about";
  }

  .about p {
      margin-top: 30px
  }

  .heading-team h1 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .teams {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "heading heading"
      "team1 team2"
      "team3 team4"
      "team5 team6"
      "team7 team8";
  }
}

@media only screen and (max-width: 500px) {
  .about p {
      font-size: 20px;
  }

  .teams {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "heading"
      "team1"
      "team2"
      "team3"
      "team4"
      "team5"
      "team6"
      "team7"
      "team8";
  }
}

/********************************************\
******************  FOOTER  *****************
/********************************************\*/

footer {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: rgb(50,50,50);
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #0095cd;
}

footer p {
  color: white;
  font-size: 11px;
  font-family: sans-serif;
  margin-top: 20px;
}

footer i {
  color: white;
}

.social-icons .a_facebook:hover {
  background: #4087cf;
}
.social-icons .a_facebook {
  background: #5c99d6;
}

.social-icons .a_linkedin:hover {
  background: #3377bb;
}
.social-icons .a_linkedin {
  background: #4b8cce;
}

.social-icons .a_twitter:hover {
  background: #1dcaff;
}
.social-icons .a_twitter {
  background: #4dd5ff;
}

.social-icons a {
  width: 33.333333333333% !important;
}

.social-icons a {
  float: left;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  width: 30%;
}

.social-icons {
  width: 100%;
  text-align: center;
  background-color: white;
  display: block;
  padding-bottom: 40px;
}
