*{
	margin: 0;
    padding: 0;
}

footer {
    margin: 0px;
    padding: 40px;
    background-color: #4b4e51;
    width: 100%;
}

footer img{
    margin-left: 3px;
}

footer a {
    text-decoration: none;
    color: #0095cd;
}

footer p {
    color: white;
    display: inline;
    font-size: 11px;
    text-align: center;
    font-family: sans-serif;
}

.social_icons {
    width: 40%;
    display: inline;
    margin-left: 10%;
    margin-right: 25%;
}

@media only screen and (max-width: 900px) { 
    .social_icons {
        margin-right: 12%;   
    }
}

@media only screen and (max-width: 600px) {
    .social_icons {
        margin-right: 5%; 
        margin-left: 5%; 
    }
}