*{
	margin: 0;
    padding: 0;
}

footer {
    padding-top: 0px;
    padding-bottom: 30px;
    background-color: #4b4e51;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #0095cd;
}

footer p {
    color: white;
    font-size: 11px;
    font-family: sans-serif;
    margin-top: 20px;
}
/*-------------------------------------------------------------*/
footer i {
    color: white;
}

.social-icons .a_facebook {
    background: #4087cf;
}
.social-icons .a_linkedin {
    background: #3377bb;
}
.social-icons .a_twitter {
    background: #1dcaff;
}

.social-icons a {
    width: 33.333333333333% !important;
}

.social-icons a {
    float: left;
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
    width: 30%;
}

.social-icons {
    width: 100%;
    text-align: center;
    background-color: white;
    display: block;
    padding-bottom: 40px;
}

@media only screen and (max-width: 900px) { 

}

@media only screen and (max-width: 600px) {

}
